<div class="fixed-width" style={{style}}>
    {{#if isSpinning}}
        <span class="{{loadingClass}} active"></span>
    {{else if successShown}}
        <div class="success loading-btn-flip-in">
            <i class={{successIcon}}></i>
        </div>
    {{else}}
        {{yield}}
    {{/if}}
</div>
